/*popup.css*/
body {
  position: relative;
  width: 720px;
  height: 160px;

  background: #DE2827;
}

/*Big <button id='download'>*/
#download {
  position: absolute;
  width: 130px;
  height: 130px;
  left: 21px;
  top: 15px;
  
  background: url(popup_trash_button.png);
  border: 5px solid #000000;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}


#download:hover {
  position: absolute;
  width: 130px;
  height: 130px;

  background: url(popup_trash_button.png);
  border: 5px solid #FEFA15;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

#download:active {
  position: absolute;
  width: 130px;
  height: 130px;

  background: url(popup_trash_button.png);
  border: 5px solid #FEFA15;
  box-shadow: inset 14px 14px 4px rgba(0, 0, 0, 0.25);
}

