/*popup.css*/
body {
    background-color:#de2827;
    color:white;
    width: 831px;
  }


/*Big <button id='download'>*/
#download {
    position: absolute;
    width: 130px;
    height: 130px;
    left: 22px;
    top: 19px;
    background: url(popup_trash_button.png);
    border: 5px solid #000000;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}
